@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center mt-5">
    <h1>Welcome to Client Portal</h1>
    <a href="/User" class="btn btn-primary mt-4">Open Client Form</a>
</div>
